 .bash_history
 .bash_logout
 build_10python-apps
 .cache
 .config
 .dbus
 .emacs
 .firstrun
 .fzf
 .fzf.bash
 .gitconfig
 .gitignore
 .lesshst
 linux-firehol_conf
 .local
 mine-dotfiles
 notes
 .pki
 privat_my_bashscripts
 .profile
 .ssh
 t480_backup
 .tmux
 ub18-netplan
 .vim
 .vscode
 .wget-hsts
 .x2go
 .x2goclient
